nav {
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    position: fixed;
    width: 200px;
}

nav ul li {
    font-size: 14px;
    margin-left: 30px;
    float: none;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

/* items */
.items ul {
    width: 700px;
    margin: 0 auto;
}

.items ul li {
    width: 100%;
}

.items .item {
    /*margin: 5px;*/
}

.cover-outer {
    width: 100%;
    height: 275px;
    float: right;
}

.items .item .cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.items .item .title {
    color: black;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-left: 0px;
    overflow: none;
    font-weight: bold;
    padding-right: 20px;
}

.items .item h2 {
    font-size: 20px;
    line-height: 1.5;
    margin: 8px 5px;
}

.items .item .solo {
    margin-left: 170px;
    height: 115px;
}

.description {
    overflow: hidden;
    color: gray;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    height: 100px;
    margin-left: 5px;
}
