$button-size : 1.25rem;
$transition: .35s; // increase this to see the transformations in slow-motion
$color: #000000;

.lines-button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

.lines {
  @include line;
  position: relative;
  background: transparent;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
      left: 0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
    -moz-transform-origin: $button-size/14 center;
    -ms-transform-origin: $button-size/14 center;
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button.x .lines{

    &:before, &:after{
      //set transform origin back to center
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      transition: top .3s .1s ease, transform .3s ease;
    }

}

.lines-button.x.close .lines{
    -webkit-transform: rotate3d(0,0,1,90deg);
    -moz-transform: rotate3d(0,0,1,90deg);
    -ms-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);

    &:before, &:after{
      -webkit-transition: top .3s ease, transform .3s .1s ease;
      -moz-transition: top .3s ease, transform .3s .1s ease;
      -ms-transition: top .3s ease, transform .3s .1s ease;
      transition: top .3s ease, transform .3s .1s ease;
      top: 0;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,-45deg);
      -moz-transform: rotate3d(0,0,1,-45deg);
      -ms-transform: rotate3d(0,0,1,-45deg);
      transform: rotate3d(0,0,1,-45deg);
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,45deg);
      -moz-transform: rotate3d(0,0,1,45deg);
      -ms-transform: rotate3d(0,0,1,45deg);
      transform: rotate3d(0,0,1,45deg);
    }
}
