/* line 5, nav-close.scss */
.lines-button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

/* line 24, nav-close.scss */
.lines {
  display: inline-block;
  width: 1.25rem;
  height: 0.17857rem;
  background: #000000;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
  position: relative;
  background: transparent;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
/* line 30, nav-close.scss */
.lines:before, .lines:after {
  display: inline-block;
  width: 1.25rem;
  height: 0.17857rem;
  background: #000000;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.08929rem center;
  -moz-transform-origin: 0.08929rem center;
  -ms-transform-origin: 0.08929rem center;
  transform-origin: 0.08929rem center;
}
/* line 40, nav-close.scss */
.lines:before {
  top: 0.3125rem;
}
/* line 41, nav-close.scss */
.lines:after {
  top: -0.3125rem;
}

/* line 46, nav-close.scss */
.lines-button.x .lines:before, .lines-button.x .lines:after {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top .3s .1s ease, transform .3s ease;
}

/* line 57, nav-close.scss */
.lines-button.x.close .lines {
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
/* line 63, nav-close.scss */
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transition: top .3s ease, transform .3s .1s ease;
  -moz-transition: top .3s ease, transform .3s .1s ease;
  -ms-transition: top .3s ease, transform .3s .1s ease;
  transition: top .3s ease, transform .3s .1s ease;
  top: 0;
}
/* line 70, nav-close.scss */
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* line 76, nav-close.scss */
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
